<div
  class="my-6 rounded-lg border border-gray-300 bg-gray-100 p-4 shadow-md dark:border-gray-500 dark:bg-gray-800"
>
  <p class="mt-2 text-gray-700 dark:text-gray-300">
    Need expert help solving your business and technical challenges? I bridge
    the gap between business requirements and technical implementation to
    deliver results-driven solutions. <br />
    <br />

    <a
      href="https://tidycal.com/alec-c4"
      class="underline decoration-dashed underline-offset-6"
      >Book a consultation today</a
    > and let's transform your problems into opportunities.
  </p>
</div>
